<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="robot_description" command="xacro '$(find roscourse_2023_project_scene)/models/project_robot/urdf/robot_model.xacro'"/>
  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-0.2"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="40.0" />
  </node>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find roscourse_2023_project_scene)/worlds/simple_scene.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <node name="my_robot_model_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model my_robot_model -x $(arg x) -y $(arg y) -z $(arg z) -Y 1.57" respawn="false"/>

 <!--  ROS_CONTROL PLUGIN  -->


<!--  ROS_CONTROL - PROGRAM  -->

<node name="lidar_control" pkg="roscourse_2023_project_scene" type="lidar_processing.py" ns="project_robot"/>



</launch>
